.n1-container {
    width: 100%;
    justify-content: center;
    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    background-color: var(--gray-bg);
}

.n1-content {
    width: 95%;
    max-width: 1560px;
    justify-content: space-between;
}

.n1-button {
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

.n2-container {
    width: 15%;
    border-right: 1px solid var(--gray-border);
    gap: 2rem;
    padding: 2rem 0;
    box-sizing: border-box;
    align-items: center;
}

.n2-button {
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}